.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  height: 7rem;
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 0;

  &__logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    height: 12rem;
    width: 12rem;
  }
  .category-div {

  }
  .category-div::before {
    content: "\E90F";
    color: grey;
  }
}
.form-search {
  position: relative;
  display: flex;
  align-items: center;
}
.search-input {
  height: 4rem;
  background: #F2F3F5;
  padding: 2rem;
  border: 1px solid #F2F3F5;
  border-radius: 2px;
  color: white;
  &:focus {
    outline: none;
    background: white;
    border: 1px solid grey;
  }
}
.search__icon {
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: 3px;
  color: red;
}

.btn {
  height: 4rem;
  width: 6.5rem;
  margin-right: 2rem;
  font-size: 1.5rem;
  border-radius: 3px;
  cursor: pointer;
}
.btn-login {
  background: white;
  color: black;
  border: 1px solid black;
}
.btn-signup {
  background: #EC5252;
  color: white;
  border: 1px solid #EC5252;

}
