<header class="header">
  <div class="header__logo-div">
    <img  src="https://www.udemy.com/staticx/udemy/images/v6/logo-coral.svg" class="header__logo">
  </div>
  <div class="category-div">
      Categories
  </div>
  <div class="form-search">
    <input type="search" placeholder="Search for anything" class="search-input">
      <svg class="search__icon">
          <use xlink:href="../../../assets/img/sprite.svg#icon-magnifying-glass"></use>
      </svg>
  </div>
  <div class="section">
    Udemy for Business
  </div>
  <div class="section">
    Become an instructor
  </div>
  <div class="section">
    <i class="fa fa-shopping-cart fa-2x"></i>
  </div>
  <div class="login-signup-div">
    <input type="submit" value="Log In" class="btn btn-login">
    <input type="submit" value="Sign Up" class="btn btn-signup">
  </div>
</header>
