<footer >
  <div class="footer">
      <div>
          Udemy for Business
      </div>
      <div>
          About Us
      </div>
      <div>
          Topics/ Concepts
      </div>
      <div>
          <button class="btn-english">English</button>
      </div>
  </div>
  <div class="container">
     <div>
        <img  src="https://www.udemy.com/staticx/udemy/images/v6/logo-coral.svg" class="footer__logo">
     </div>
     <div>
        Copyright &copy; 2019 Udemy, Inc.
     </div>
  </div>
</footer>
