
<div class="container">
  <div class="header-text">
    <h1 class="header-text__main-text">Learn on your schedule</h1>
    <h3 class="header-text__sub-text">
      Study any topic, anytime. Choose from thousands of expert-led courses now.
    </h3>
    <div class="main-search-form">
      <input type="text" class="search-input" placeholder="What do you want to learn ?">
      <button class="btn-container">
        <svg class="search__icon">
          <use xlink:href="../../../assets/img/sprite.svg#icon-magnifying-glass"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="how-udemy-works">
    <div class="sub-main">
      <h3>100,000 online courses</h3>
      <div class="sub-title">
        Explore a variety of fresh topics
      </div>
    </div>
    <div class="sub-main">
      <h3>Expert instruction</h3>
      <div class="sub-title">
        Find the right instructor for you
      </div>
    </div>
    <div class="sub-main">
      <h3>Lifetime access</h3>
      <div class="sub-title">
        Learn on your schedule
      </div>
    </div>
  </div>
</div>
