<div class="container">
  <div class="box-1">
    <h3> The world’s largest selection of courses </h3>
    <div class="add-text">
      Choose from over 100,000 online video courses with new additions published every month
    </div>
  </div>
  <div class="box-2">
      <nav class="nav">
        <ul class="nav-list">
          <li class="list-item">Development</li>
          <li class="list-item">Design</li>
          <li class="list-item">Business</li>
          <li class="list-item">IT & Software</li>
          <li class="list-item">Personal Development</li>
          <li class="list-item">Marketing</li>
          <li class="list-item">Photography</li>
        </ul>
      </nav>
  </div>
</div>
