<div class="main-con">
    <h1>Students are viewing</h1>
    <div class="container">
        <div class="card">
              <img alt="Ethical Hacker Certification course" class="card__card-img" src="https://udemy-images.udemy.com/course/240x135/2066185_8b0d.jpg">
          <div class="card__card-body">
            <h3 class="card__title">Ethical Hacker Certification Course</h3>
            <div class="card__author">Amit Hudder</div>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <span class="rating"> 4.1(173) </span>
            <div class="footer">
                <div class="course-price"> $199.99 </div>
            </div>
          </div>
        </div>
        <div class="card">
              <img alt="Ethical Hacker Certification course" class="card__card-img" src="https://udemy-images.udemy.com/course/240x135/2066185_8b0d.jpg">
          <div class="card__card-body">
            <h3 class="card__title">Ethical Hacker Certification Course</h3>
            <div class="card__author">Amit Hudder</div>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <span class="rating"> 4.1(173) </span>
            <div class="footer">
                <div class="course-price"> $199.99 </div>
            </div>
          </div>
        </div>
        <div class="card">
              <img alt="Ethical Hacker Certification course" class="card__card-img" src="https://udemy-images.udemy.com/course/240x135/2066185_8b0d.jpg">
          <div class="card__card-body">
            <h3 class="card__title">Ethical Hacker Certification Course</h3>
            <div class="card__author">Amit Hudder</div>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <span class="rating"> 4.1(173) </span>
            <div class="footer">
                <div class="course-price"> $199.99 </div>
            </div>
          </div>
        </div>
        <div class="card">
              <img alt="Ethical Hacker Certification course" class="card__card-img" src="https://udemy-images.udemy.com/course/240x135/2066185_8b0d.jpg">
          <div class="card__card-body">
            <h3 class="card__title">Ethical Hacker Certification Course</h3>
            <div class="card__author">Amit Hudder</div>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <span class="rating"> 4.1(173) </span>
            <div class="footer">
                <div class="course-price"> $199.99 </div>
            </div>
          </div>
        </div>
        <div class="card">
              <img alt="Ethical Hacker Certification course" class="card__card-img" src="https://udemy-images.udemy.com/course/240x135/2066185_8b0d.jpg">
          <div class="card__card-body">
            <h3 class="card__title">Ethical Hacker Certification Course</h3>
            <div class="card__author">Amit Hudder</div>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon-star">
                <use xlink:href="../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
            <span class="rating"> 4.1(173) </span>
            <div class="footer">
                <div class="course-price"> $199.99 </div>
            </div>
          </div>
        </div>
      </div>

</div>
